<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tobycatapps.c3717.cst.bcit.ca.android3717project1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ImageGridViewActivity"
            android:label="@string/title_activity_image_grid_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tobycatapps.c3717.cst.bcit.ca.android3717project1.MyActivity" />
        </activity>
        <activity
            android:name=".activity.ImageSwipeViewActivity"
            android:label="@string/title_activity_image_swipe_view"
            android:parentActivityName=".activity.ImageGridViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tobycatapps.c3717.cst.bcit.ca.android3717project1.ImageGridViewActivity" />
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".activity.ImageUploadActivity"
            android:label="@string/title_activity_image_upload" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.AccountCreation"
            android:label="@string/title_activity_account_creation" >
        </activity>
    </application>

</manifest>
